<div>
  <h3></h3>
</div>
<form class="example-container" [formGroup]="estagForm" (ngSubmit)="addEstagiario(estagForm.value)">
  <mat-grid-list cols="2">

    <mat-form-field [floatLabel]="always" appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput name="nome" formControlName="nome" required>
    </mat-form-field>

    <mat-form-field [floatLabel]="always" appearance="outline">
      <mat-label>Matrícula</mat-label>
      <input matInput name="matricula" formControlName="matricula">
    </mat-form-field>

    <mat-form-field [floatLabel]="always" appearance="outline">
      <mat-label>RG/RNH</mat-label>
      <input matInput name="documento" formControlName="documento" required>
    </mat-form-field>

    <mat-form-field [floatLabel]="always" appearance="outline">
      <mat-label>Data de Expedição</mat-label>
      <input matInput name="dataExpDoc" formControlName="dataExpDoc">
    </mat-form-field>

    <mat-form-field [floatLabel]="always" appearance="outline">
      <mat-label>CPF</mat-label>
      <input matInput name="cpf" formControlName="cpf" required>
    </mat-form-field>

    <mat-form-field [floatLabel]="always" appearance="outline">
      <mat-label>Nacionalidade</mat-label>
      <input matInput name="nacionalidade" formControlName="nacionalidade" required>
    </mat-form-field>

    <mat-form-field [floatLabel]="always" appearance="outline">
      <mat-label>Cidade Natal</mat-label>
      <input matInput name="naturalidade" formControlName="naturalidade">
    </mat-form-field>

    <mat-form-field [floatLabel]="always" appearance="outline">
      <mat-label>Data de Nascimento</mat-label>
      <input matInput name="dataNasc" formControlName="dataNasc" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-select placeholder="Estado Civil" formControlName="estCivil" required>
        <mat-option *ngFor="let ec of listaEstCivil" [value]="ec.id">
          {{ec.nome}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field [floatLabel]="always" appearance="outline">
      <mat-label>CEP</mat-label>
      <input matInput name="cep" formControlName="cep" required>
    </mat-form-field>

    <mat-form-field [floatLabel]="always" appearance="outline">
      <mat-label>Endereço</mat-label>
      <input matInput name="endereco" formControlName="endereco" required>
    </mat-form-field>

    <mat-form-field [floatLabel]="always" appearance="outline">
      <mat-label>Número</mat-label>
      <input matInput name="numeroEndereco" formControlName="numeroEndereco" required>
    </mat-form-field>

    <mat-form-field [floatLabel]="always" appearance="outline">
      <mat-label>Complemento</mat-label>
      <input matInput name="compl" formControlName="compl" required>
    </mat-form-field>

    <mat-form-field [floatLabel]="always" appearance="outline">
      <mat-label>Telefone</mat-label>
      <input matInput name="telefone" formControlName="telefone" required>
    </mat-form-field>

    <mat-form-field [floatLabel]="always" appearance="outline">
      <mat-label>E-mail</mat-label>
      <input matInput name="email" formControlName="email" required>
    </mat-form-field>



  </mat-grid-list>

  <button type="submit" [disabled]="!estagForm.valid" mat-button color="primary" >Gravar</button>
</form>
