<div>
    <h3>Editar Produto</h3>
  </div>
  <form class="example-container" [formGroup]="estagForm" (ngSubmit)="updateEstagiario(estagForm.value)">
    <mat-form-field>
      <input matInput name="nome" placeholder="Nome " formControlName="nome">
    </mat-form-field>
    <mat-form-field>
      <textarea  matInput name="matricula" placeholder="matricula" formControlName="matricula"></textarea>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="documento" placeholder="documento" formControlName="documento">
    </mat-form-field>

    <button type="submit" [disabled]="!estagForm.valid" mat-button color="primary" >Editar</button>
  </form>
