<style>
  th, td, button{
    margin:2px;
  }
  button:hover{
    color:gray;
    border:0.5px solid gray;
  }
</style>

<div>
  <h3>Consulta de Estagiários</h3>
</div>

<div class="consulta">
  <mat-form-field>
    <input matInput name="nome" placeholder="Nome" [(ngModel)]="filtro.nome">
  </mat-form-field>

  <mat-form-field>
    <mat-select [(value)]="filtro.curso" placeholder="Curso">
      <mat-option>- Curso -</mat-option>
      <mat-option *ngFor="let curso of listaCurso" [value]="curso.id">
        {{curso.nome}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button [disabled]="master.isLoading" mat-flat-button color="accent" (click)="consultaEstagiario()" >Consultar</button>
</div>

<div class="example-loading-shade" *ngIf="master.isLoading">
  <div><span>Processando...</span></div>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width:100%">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef hidden></th>
    <td mat-cell *matCellDef="let estag" routerLink="/estagiario-detalhe/{{estag.id}}" > {{estag.nome | uppercase}} </td>
  </ng-container>

  <ng-container matColumnDef="plano">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let estag">
        <button *ngIf="estag.ativo == 1" mat-flat-button color="accent" routerLink="/estagiario-detalhe/{{estag.id}}" selected>Plano</button>
      </td>
  </ng-container>

  <ng-container matColumnDef="ren">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let estag">
        <button *ngIf="estag.ativo == 1" mat-flat-button color="accent" routerLink="/estagiario-detalhe/{{estag.id}}" selected>Renovar</button>
      </td>
  </ng-container>

  <ng-container matColumnDef="aval">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let estag">
        <button *ngIf="estag.ativo == 1" mat-flat-button color="accent" routerLink="/estagiario-detalhe/{{estag.id}}" selected>Avaliar</button>
      </td>
  </ng-container>

  <ng-container matColumnDef="rece">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let estag">
        <button *ngIf="estag.ativo == 1" mat-flat-button color="accent" routerLink="/estagiario-detalhe/{{estag.id}}" selected>Recesso</button>
      </td>
  </ng-container>

  <ng-container matColumnDef="benef">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let estag">
        <button *ngIf="estag.ativo == 1" mat-flat-button color="accent" routerLink="/estagiario-detalhe/{{estag.id}}" selected>Benefícios</button>
      </td>
  </ng-container>

  <ng-container matColumnDef="obs">
      <th mat-header-cell *matHeaderCellDef>  </th>
    <td mat-cell *matCellDef="let estag">
      <span *ngIf="diasRestantes(estag) > 0 && diasRestantes(estag) < 60">{{diasRestantes(estag)}} dias restantes</span>
    </td>
  </ng-container>
<!--
  <ng-container matColumnDef="acao">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let estag">
        <button mat-flat-button color="accent" routerLink="/estagiario-detalhe/{{estag.id}}" selected>Detalhe</button>
      </td>
    </ng-container>
 -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
<mat-paginator [pageSize]="10" showFirstLastButtons></mat-paginator>

